In [8]:
for i
if 2>3 :
    print("wahr")
else :
    print("unwahr")

unwahr

In [11]:
print (0.1+0.2-0.3)

5.551115123125783e-17

In [17]:
9**0.5

3.0

In [21]:
x = 10

In [22]:
2*x

20

In [25]:
x = x + x

In [26]:
x

40

In [50]:
st = "test chris: {}"
st

'test chris: {}'

In [51]:
print(st)

test chris: {}

In [49]:
st[1]*3 + st

'eeetest \n chris; zwo'

In [53]:
ein = 'super'
st.format(ein)

'test chris: super'

In [56]:
ts = 'einsetzen'
print('Hier den String %s' %(ts))

Hier den String einsetzen

In [60]:
print ('Zahl: %1.4f; Text: %s' %(12.345678, 'Test'))

Zahl: 12.3457; Text: Test

In [62]:
print('1.: %s; 2.: %s; 3.: %r' %(12,'Zwo',ts))

1.: 12; 2.: Zwo; 3.: 'einsetzen'

In [65]:
print('Test {a} {b}'.format(a=ts, b=ein))

Test einsetzen super

In [69]:
'Python {}!'.format('rules')

'Python rules!'

In [70]:
liste = [1,2,3]
print(liste)

[1, 2, 3]

In [71]:
liste = ['test',2324.545,liste]

In [74]:
print(liste)

['test', 2324.545, [1, 2, 3]]

In [75]:
len(liste)

3

In [78]:
liste[1]

2324.545

In [79]:
liste[1:]

[2324.545, [1, 2, 3]]

In [81]:
liste[:2]

['test', 2324.545]

In [85]:
liste = liste + ['neu', 5]

In [86]:
liste

['test', 2324.545, [1, 2, 3], 'neu', 5]

In [87]:
liste * 2

['test', 2324.545, [1, 2, 3], 'neu', 5, 'test', 2324.545, [1, 2, 3], 'neu', 5]

In [88]:
liste.append(8)

In [99]:
liste

[5, 8, 2324.545]

In [90]:
liste.pop(2)

[1, 2, 3]

In [92]:
liste.reverse()

In [98]:
liste.sort()

In [97]:
liste.pop(3)

'test'

In [100]:
liste.append([1,3,4])

In [101]:
liste

[5, 8, 2324.545, [1, 3, 4]]

In [102]:
liste[3][1]

3

In [105]:
d = {'Key':'Wert','Key2':'Wert2'}

In [107]:
d['Key2']

'Wert2'

In [108]:
d = {1:'eins', 2:2, 3:'dro',4:[1,2,3]}

In [109]:
d[1]

'eins'

In [110]:
d[2]

2

In [111]:
d[4]

[1, 2, 3]

In [112]:
d[4][2]

3

In [116]:
d[3][1:].upper()*2

'RORO'

In [122]:
d[2] /= 8

In [123]:
d

{1: 'eins', 2: 16.0, 3: 'dro', 4: [1, 2, 3]}

In [124]:
dn={}

In [125]:
dn[2.2] = 'eins'

In [128]:
dn

{2.2: 'eins', 2.3: 'zwo'}

In [127]:
dn[2.3] = 'zwo'

In [130]:
dv = {'key':{'unterkey' : {'unterunterkey' : 3}}}

In [133]:
dv['key']['unterkey']['unterunterkey']

3

In [139]:
dn.values()

dict_values(['eins', 'zwo'])

In [137]:
dv['key'].keys()

dict_keys(['unterkey'])

In [138]:
dv['key'].items()

dict_items([('unterkey', {'unterunterkey': 3})])

In [140]:
t = (1,2,3)

In [141]:
len(t)

3

In [142]:
t[0]

1

In [143]:
t = (1, 'zwo')

In [144]:
t

(1, 'zwo')

In [145]:
t[1]

'zwo'

In [146]:
t[-1]

'zwo'

In [148]:
t.count(1)

1

In [150]:
t.index('zwo')

1

In [152]:
t.append('')

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
pwd

'C:\\Users\\Chris'